.container{
  margin-left: calc(50% - 290px / 2);
  display: flex;
  border-collapse: collapse;
  justify-content: space-between;

  thead{
    td{
      background: rgba(255,255,255,0.3);
      color: #35AC88;
      border: 1px solid white;
      margin: 0;
    }
  }
}
